[Unit]
Description=psen_processing service
After=docker.service
Requires=docker.service

[Install]
WantedBy=default.target

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill psen_SLAAR21-LCAM-C561
ExecStartPre=-/usr/bin/docker rm psen_SLAAR21-LCAM-C561
ExecStartPre=/usr/bin/docker pull paulscherrerinstitute/psen_processing
ExecStart=/usr/bin/docker run --name psen_SLAAR21-LCAM-C561 --net=host paulscherrerinstitute/psen_processing psen_processing tcp://daqsf-sioc-cs-83:8010 SLAAR21-LCAM-C561 --output_stream_port 8888 --rest_api_port 11000 --log_level=INFO --auto_start
ExecStop=/usr/bin/docker stop psen_SLAAR21-LCAM-C561
Restart=always